input{
    width: 100%;
    padding: 10px;
    justify-content: space-around;
    margin: 5%;
}

.header {
    width: 100%;
    margin: auto;
    font-size: 20px;
    color: #000;
    background-color: chartreuse;
    padding: 10px;
    justify-content: space-around;
    margin: 5%;
}

.container{
    width: 500px;
    margin: auto;
    margin-top: 10%;
    
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
button{
    border-radius: 10px;
    align-self: center;
    background-color: cadetblue;
    padding: 10px;
    color:#fff;
}